body{

    background-color: bisque;


}

a{

color: rgb(241, 33, 33); ;

}

a:visited{

    color:rgb(253, 82, 3);

}

a:hover, a:active{

    color:purple;
}


table, tr, td , th, td /*caption*/{

    border: 1px solid #6e32f8;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;




}